<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<!-- 
		配置 bean
		1、class：bean 的全类名，通过反射的方式在 IOC 容器中创建实例，所以要求 bean 中必须有默认构造方法
		2、id：标识容器中的 bean，值唯一
		3、不指定 id 属性时，默认的 id 是 com.xszheng.HelloWorld#0 即（包名.类名#自然数）
	-->
	<bean class="com.xszheng.demo1.HelloWorld">
		<property name="name" value="spring"></property>
	</bean>
	
	<!-- 使用构造器方式来创建 bean 时，可以使用 index 和 type 属性来制定参数的位置以及类型 -->
	<bean id="car1" class="com.xszheng.demo2.Car">
		<constructor-arg name="brand" value="HAVAL" index="0"></constructor-arg>
		<constructor-arg name="crop" value="长城"></constructor-arg>
		<constructor-arg name="price" value="103000" type="double"></constructor-arg>
	</bean>
	<bean id="car2" class="com.xszheng.demo2.Car">
		<constructor-arg name="brand" value="HAVAL"></constructor-arg>
		<constructor-arg name="crop" value="长城"></constructor-arg>
		<constructor-arg name="maxSpeed" value="185"></constructor-arg>
	</bean>
</beans>
